@font-face {
    font-family: 'Arounder';
    src: url('../public/arounder.ttf');
    font-weight: 400;
    size-adjust: 120%;
    font-style: normal;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


body::-webkit-scrollbar {
    display: none
}

body *::-webkit-scrollbar {
    display: none
}


a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


.chatbro_minimized_chat {
    transition: bottom 200ms ease;
}

@media screen and (min-width: 520px) {
    .chatbro_messages_wrapper {
        background: transparent !important;
    }

    .chatbro_messages_block {
        background: rgba(8, 34, 33, 0.7) !important;
    }
}



@media screen and (max-width: 520px) {
    .chatbro_minimized_chat {
        bottom: 20px !important;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}
